# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# eclipse project files
*.project
*.cproject

/.DS_Store
*.txt
utc-0.1/benchapps/mc/utc-cpu/myhosts1
utc-0.1/benchapps/mc/utc-cpu/myhosts16
utc-0.1/benchapps/mc/utc-cpu/myhosts2
utc-0.1/benchapps/mc/utc-cpu/myhosts4
utc-0.1/benchapps/mc/utc-cpu/myhosts8
*.xml
*.prefs